\echo '--------------------------------------------------------------------------------'
\echo 'Welcome to PostgreSQL installed and configured for KP!'
\echo '--------------------------------------------------------------------------------'
\set PROMPT1 '%M:%> %n@%/%R%#%x '
\set PROMPT2 '%M %n@%/%R %# '
\set COMP_KEYWORD_CASE upper
\pset null '[null]'
\timing
\x auto
\set VERBOSITY verbose
